html, body{
    margin: 0px;
    background-color: #8d98c0;
}

h1{
    color: white;
}

button{
    padding: 1em;
    margin: 10px;
    outline: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    font-family: "Avenir";
    font-size: 1em;
    font-weight: bolder;
}

#red{
    background: -webkit-linear-gradient(to right, #EF473A, #CB2D3E);
    background: linear-gradient(to right, #EF473A, #CB2D3E);
}

#blue{
    background: -webkit-linear-gradient(to right, #00C6FF, #0072FF);
    background: linear-gradient(to right, #00C6FF, #0072FF);
}
#black{
    background: -webkit-linear-gradient(to right, #030405, #030405);
    background: linear-gradient(to right, #030405, #030405);
}